<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سامانه کنترل تردد باشگاهی</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="assets/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/dist/css/rtl.css">
    <link rel="stylesheet" href="assets/dist/css/persian-datepicker-0.4.5.min">
    <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="assets/dist/css/custom.css">
    <link rel="stylesheet" href="assets/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="assets/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body style="background-image : url('assets/dist/img/background.jpg');">

    <div className="row">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="box box-primary" style="height: auto;">
                <div class="box-header">
                    <center>
                        <h1 class="box-title">ورود کابران</h1>
                    </center>
                </div>
                <br />
                <br />
                <div class="box-body">

                    <div class="row">
                        <form method="POST" action="/">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">نام کاربری :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="username" name="username">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <label class="control-label col-sm-4">رمز عبور :</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" placeholder="password" name="password">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label style="color: blue; font-size: 11" >رمز عبور خود را فراموش کرده
                                            ام</label>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <button class="btn btn-primary btn-block" style=" float: left;"
                                            type="submit">ورود</button>
                                        <br />
                                        <br />

                                        <label class="label label-danger"><%= error%></label>
                                    </div>

                                </div>







                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>

        <div className="col-sm-4"></div>
    </div>



    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/dist/js/adminlte.min.js"></script>

</body>

</html>